* {
    box-sizing: border-box;
  }

body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    text-align: justify;
    width: 85%;
    margin: 0 auto; 
}
.navbar {
    border: 5px;
    text-align: center;
}
ul {
    border: 1px;
}

li {
    border: 1px;
    display: inline;     
}

a {
    padding: 15px 15px 15px 15px;
    color: white;
    text-decoration: none;
    border: 1px;
}
  
  li a:hover  {
      color: gray;
  }
    

main {
    border: 1px;
}
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px;
    padding: 20px;
}


.left-text:hover {
    color: #E56DE1;
}

.picture1:hover{
    opacity: 0.5;
    background-color:#E56DE1;
}  


.left-text {
    padding: 10px 40px;
    border: 5px;
    text-align: left;
    margin: 2px;
    width: 150%;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px; 
    word-spacing:  2px;
    padding: 40px 0 0 0;   
}
 h5, h6 {
    text-transform: uppercase;
    font-size: 10px;
    
   
}
h5 {
    padding: 20px 0 0 0; 
}

h6 {
    padding: 140px 0 0 0;
}

.picture-top {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px;
}

.picture1 {
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 80%;
    height: 80%;
    padding: 10px;
    margin:5px;
}


footer {
    border: 1px;
    padding: 15px;
    padding: 40px 70px;
 }  
 .bold {
    font-weight: bold;
 } 
 
  .button {
    background-color: white;
    border: none;
    color:black;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    right: 200px;
    bottom: -420px;
    box-shadow: -9px 11px  #E56DE1;
  } 

  

   